@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-size: 13pt;
}

body {
    font-family: "Times New";
 }
.
p {
    color: white;
}

.highlight {
    font-weight: bold;
 }
 
 #burgers-section {
    background-color: white; 
    color: rgb(91, 3, 3);
    margin: 30px auto;
    padding: 20px;
    border: 2px dashed rgb(91, 3, 3);
    text-align: center; /* Centrerar rubrik och text */
}

.burger-grid {
    display: grid; /* Grid-layout aktiveras här */
    grid-template-columns: repeat(3, 1fr); /* Tre kolumner */
    gap: 20px; /* Mellanrum mellan hamburgarna */
    margin-top: 20px; /* Skapar avstånd från texten ovanför */
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
}

.burger-item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
}

.burger-item img {
    width: auto; /* Responsiv */
    max-width: 200px; /* Begränsad bredd */
    height: 200px;
}

#info-section {
    background-color: rgb(91, 3, 3); 
    color: white;
    margin: 30px auto; /* Skapar extra utrymme ovanför och under sektionen */
    padding: 20px; /* Utrymme runt hela innehållet */
    border: 2px dashed white; /* Tjock, streckad svart ram */
    padding-left: 30px; /* Extra utrymme till vänster innanför ramen */
}

#mainheader {
    position: relative;
}    

#headertext {
    position: absolute;
    top: 50%; /* Centrera texten vertikalt */
    left: 50%; /* Centrera texten horisontellt */
    transform: translate(-50%, -50%); /* Justera för att centrera korrekt */
    color: black; /* Gör texten helt svart */
    overflow: hidden;
    margin-top: -20px; /* Testa olika negativa värden för att justera höjden om det behövs */
    z-index: 1; /* Se till att texten ligger ovanpå bilden */
    font-family: 'Chango', sans-serif; 
    color: rgb(91, 3, 3);
    font-size: 40pt;
}

#headerbild {
    opacity: 0.4;
}
 
button:hover {
    background-color: maroon; 
    color: white;
    cursor: pointer;
 }

 button {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px 20px;
}

main, header, footer, nav ul {
    max-width: 60rem;
    margin: 0 auto 0 auto;
}
main {
    background-color: white;
}

header h1 {
    width:60rem;
    margin: 0 auto;
    text-align: center;
}

/*nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}*/

/*nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}*/

/*.Very-good {
    color: green;
}*/

/*.Master {
    color: green;
    font-weight: bold;
}*/